body {
    margin: 0;
    padding: 0;
}

.Screen_1 {
    height: 100vh;
    font-family: 'Rajdhani', sans-serif;
    color: white;
    background-image: url(https://cdn11.bigcommerce.com/s-14i854x3am/images/stencil/original/carousel/106/Web-IMG_2120.jpg?c=2);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.ShadowBox {
    height: inherit;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
}
.pr_img {
    height: 400px;
    filter: invert(100%);
}

.Txt {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: default;
}

.Screen_2 {
    height: 100vh;
    font-family: 'Rajdhani', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.Members {
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: violet;
}

.Member {
    font-size: 30px;
    margin-top: 20px;
    text-align: center;
}

.Why {
    height: 50vh;
}